{% extends 'layout.html.twig' %}

{% block content %}

	{# Ajout d'un id pour éviter pb de sélécteurs #}


	<section id="header">
		<header>
			<h1>Manifest</h1>
			<p>Geckos are a group of usually small, usually nocturnal lizards.<br> They are found on every continent except Australia.</p>
			<p>Many species of gecko have adhesive toe pads which enable them <br> to climb walls and even windows.</p>
		</header>
	</section>

	<main>

	<h1 id="job">Mode d'emploi</h1>
	
	<section id="instruction" class="grid">
	
		<article>
    		<p class="number">-1-</p>
			<p>Créer</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem viverra aliquet eget sit.</p>
            <button type="button"><a href ="/"><img src="/assets/images/pencil.png"></a></button>
        </article>

        <article>
            <p class="number">-2-</p>
            <p>Contribuer</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem viverra aliquet eget sit.</p>
            <button type="button"><a href ="/"><img src="/assets/images/read.png"></a></button>
        </article>

        <article>
            <p class="number">-3-</p>
			<p>Lire</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem viverra aliquet eget sit.</p>
			<button type="button"><a href ="/"><img src="/assets/images/user.png"></a></button>
        </article>

	</section>

	<section id="charte" class="grid">
		
		<a href="#" role="button" class="contrast outline">Charte d'utilisateur</a>
		
	</section>



	<section id="last-published">

	<h1>Dernières publications</h1>

		<div class="picto">
				<a href="/stories"><img class="picto-read" src="/assets/images/open-book.png" alt="picto utilisateur"></a> </div>
	
	<section id="stories-list">
		{% for story in stories %}
		
		<article>

			<header>
				<img src="{{ story.picture }}" alt="couverture du livre">
			</header>

			<a href="/stories/show?id={{ story.id }}">{{ story.title }}</a>

			<p>{{ story.pseudo }}</p>

		</article>
		{% else %}
		<div>Nothing to display</div>
		{% endfor %}
	</section>

			<div id="other-stories">
				<a href="/stories">Découvrez d'autres e-stoires</a>
			</div>

	</main>

	{% endblock %}
