<form action="" method="post">
	<div class="flex">
		<label for="title"></label>
		<input type="text" placeholder="Titre du chapitre" name="title" id="title" maxlength="120" required>

		<label for="pseudo"></label>
		<input type="text" placeholder="Nom de plume" name="pseudo" id="pseudo" maxlength="120" required>

		<label for="content"></label>
		<textarea placeholder="Ecris ton chapitre" name="content" id="content" rows="10" required></textarea>

		<fieldset>
			<label for="agreement">
				<input type="checkbox" id="agreement" name="agreement" required>
				J'ai lu et m'engage à respecter les
				<a href="https://www.e-stoires.fr/charte-utilisateur" target="_blank">conditions d'utilisation</a>.
			</label>
		</fieldset>
	</div>

	<input type="submit" value="{{ story.nb_chapters + 1 == story.nbchapter ? 'Publier' : 'Enregistrer' }}" style="background: #F5664B; width: 15%; border: none; margin-left: 40%">
</form>
