<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/images/favicon_e_stoires.png">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/style-desktop.css" media="screen and (min-width:655px)">
		<link rel="stylesheet" href="/assets/css/style-mobile.css" media="screen and (max-width:655px)">

		<title>
			{% block title %}e-stoires
			{% endblock %}
		</title>

		{# {% block stylesheet %}{% endblock %} #}
	</head>

	<body>
		{% block navbar %}
			<section id="navbar">
				<div id="logo-desktop"></div>
				<div id="logo-mobile">
					<p>E-STOIRES</p>
				</div>
				<div>
					<ul>
						<li>ACCUEIL</li>
						<span>|</span>

						<li>CRÉER</li>
						<span>|</span>
						<img class="picto-create" src="/assets/images/pencil.png" alt="picto crayon">

						<li>CONTRIBUER</li>
						<span>|</span>
						<img class="picto-contribute" src="/assets/images/contribute.png" alt="picto contribuer">

						<li>LIRE</li>
						<span>|</span>
						<img class="picto-read" src="/assets/images/open-book.png" alt="picto utilisateur">

						<li>COMPTE</li>
						<img class="picto-user" src="/assets/images/user.png" alt="picto utilisateur">
					</ul>
				</div>
			</section>
		{% endblock %}
		{% block content %}{% endblock %}
		{% block javascript %}{% endblock %}
	</body>
</html>
