@import url("./style.css");


:root:not([data-theme]) {
    --color: black;
}

#logo-desktop {
    display: none;
}

#logo-mobile {
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.15em;
    margin-top: 1rem;
}

#navbar li,
#navbar span {
    display: none;
}

#navbar .picto {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar nav ul img {
    max-width: 138%;
    min-width: 138%;
    /* width: 100%; */
    justify-content: center;
}

#navbar a {
    display: flex;
    width: 50%;
    justify-content: center;
}

#navbar .picto-create,
#navbar .picto-contribute,
#navbar .picto-user {
    min-width: 122%;
}