@import url("./style.css");

#logo-mobile {
    display: none;
}

#logo-desktop {
    height: 4rem;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

#navbar .picto {
    display: none;
}

#navbar ul {
    list-style-type: none;
    letter-spacing: 0.12em;
}

#navbar ul li {
    font-size: 18px;
    margin-right: 1rem;
    margin-left: 1rem;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
}

#navbar ul span {
    color: #D1D1D1;
}

header {
    background-image: url('./../images/image_header_desktop.png');
    background-size: auto;
    height: 700px;
}