@import url("./style.css");

#logo-desktop {
    display: none;
}

#logo-mobile {
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.15em;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#navbar li,
span {
    display: none;
}

#navbar .picto {
    display: flex;
    justify-content: center;
    width: 60%;

}

#navbar ul img {
    width: 100%;
    justify-content: center;
}

#navbar a {
    display: flex;
    width: 37%;
    justify-content: center;
}

#navbar .picto-create,
.picto-contribute,
.picto-user {
    width: 90%;
    height: 90%;
}

/******************** PARTIE CREER NOUVEAU CHAPITRE ET RELIER A UNE HISTOIRE **************************/
main #textContribute,
main #container #infoStory #description,
main #container #image #desktop {
    display: none;
}

main #container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main #container #image img {
    padding-top: 3%;
    width: 100px;
    height: 160px;
}

main #container #infoStory {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    font-size: 0.8em;
}

main #container #infoStory #title {
    height: 2.2em;
}

main #container #infoStory #title h2 {
    font-size: 1.5em;
}

main #container #infoStory #pseudo p,
main #container #infoStory #chapter p,
main #container #infoStory #type_age p {
    font-size: 1em;
}

main #container #infoStory #pseudo {
    height: 2.1em;
}

main #container #infoStory #pseudo p {
    opacity: 0.5;
}

main #container #infoStory #chapter {
    display: flex;
    flex-direction: row;
    height: 2.5em;
}

main #container #infoStory #chapter p {
    padding-left: 0.8em;
}

main #container #infoStory #chapter img {
    width: 20px;
    height: 20px;
}

main #container #infoStory #type_age {
    display: flex;
    flex-direction: row;
    height: 3em;
}

main #container #infoStory #type {
    padding-right: 2em;
}

main #container #infoStory #type p {
    background-color: #FFDD9C;
    padding: 0.2em 1.5em;
    border-radius: 10px;
}

main #container #infoStory #age {
    padding-left: 1em;
}

main #container #infoStory #description {
    text-align: justify;
}

main #container #button {
    width: 100%;
}

main #container #button button {
    background: #F5664B;
    border: none;
    padding: 5px 10px;
    font-size: 1.1em;
}

main #container #button button a:link,
main #container #button button a:visited,
main #container #button button a:active {
    text-decoration: none;
    color: white;
}

main #form {
    width: 80%;
    margin: auto;
    margin-top: 1em;
    padding: 1em 1em 0.1em 1em;
    background-color: #FFF5E1;
    border-radius: 10px;
}

main #form .flex #title,
main #form .flex #pseudo,
main #form .flex #content {
    font-size: 13px;
    background-color: white;
}

main #form .flex fieldset {
    font-size: 0.7em;
    background-color: white;
    margin-left: 0.5em;
}

main #form button {
    width: 50%;
    background: #F5664B;
    border: none;
    margin: auto;
    padding: 8px 0;
}

/* ******************* FIN DE LA PARTIE CREER NOUVEAU CHAPITRE ET RELIER A UNE HISTOIRE *************************** */