@import url("./style.css");

.logo-mobile {
    display: none;
}

.logo-desktop {
    background-image: url(../images/logo-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22%;
    height: 90px;
}

ul {
    list-style-type: none;
    justify-content: center;
    letter-spacing: 0.12em;
}

ul img {
    display: none;
}

ul li {
    font-size: 18px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

ul span {
    color: #D1D1D1;
}