@font-face {
    font-family: "inter";
    src: local("inter"), local("inter"),
        url("../font/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
    --nav-color: #FFEECE;
    --text-color: #000000;
    --button-color: #ED553B;
    --button-color-done: #BABABA;
    --text-color-done: #232222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'inter', sans-serif;
    color: var(--text-color);
}

#navbar {
    background-color: var(--nav-color);
    padding: 1rem;
    height: 10rem;
    margin-bottom: 0;
}

#navbar nav {
    display: flex;
    justify-content: center;
}