@font-face {
    font-family: "inter";
    src: local("inter"), local("inter"),
        url("../font/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
    --nav-color: #FFEECE;
    --text-color: #000000;
    --button-color: #ED553B;
    --button-color-done: #BABABA;
    --text-color-done: #232222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'inter', sans-serif;
    color: var(--text-color);
}

body>main {
    padding: 1.5rem 0 0 0;
}

/* Navbar */
#navbar {
    background-color: var(--nav-color);
    padding: 1rem;
    height: 11rem;
    margin-bottom: 0;
}

#navbar nav {
    display: flex;
}

/* Home page */
#instruction article {
    box-shadow: none;
}

#last-published {
    background-color: var(--nav-color);
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}

#last-published-title {
    background-color: var(--nav-color);
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
}

#last-published h1 {
    padding: 1rem;
    text-align: center;
    margin-bottom: 0;
}

#last-published article {
    background: var(--nav-color);
    box-shadow: none;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

#last-published article>header {
    padding: 0;
    margin: 0 0 1rem 0;
    background-color: var(--nav-color);
}

#last-published article>header>img {
    box-shadow: -1px 2px 14px -6px rgba(0, 0, 0, 0.7);
}

#last-published a {
    font-weight: 600;
}

#last-published img {
    max-height: 17rem;
    min-height: 17rem;
    min-width: 12rem;
}

#last-published a {
    color: #000000;
}

#other-stories {
    background-color: var(--nav-color);
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/* form create a story */
#image-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image-upload .cover-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-picture {
    position: absolute;
    z-index: 10;
    opacity: 0;
}

/* Login */
#login,
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login button,
#login a {
    background-color: var(--button-color);
    border: none;
    width: 16rem;
}

#login h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

#login p {
    margin-bottom: 3rem;
}

#welcome p {
    margin: 0 1rem 3rem 1rem;
    text-align: center;
}

#login li {
    list-style-type: none;
    color: var(--button-color)
}

/* read a story */
#chapters {
    text-align: justify;
}

#chapters {
    margin-top: 2rem;
}

#chapters .chapter-title {
    text-align: center;
}

#chapters .chapter-title h4 {
    color: var(--button-color-done);
}

#chapters .author {
    display: flex;
    justify-content: flex-end;
}

#chapters .author p {
    font-size: 0.8rem;
    color: var(--button-color-done);
}

#read-buttons {
    display: flex;
}

#edit-button {
    color: var(--button-color);
    border-color: var(--button-color);
}

/* Footer */
footer {
    margin-bottom: 0;
}