@font-face {
    font-family: "inter";
    src: local("inter"), local("inter"),
        url("../font/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
    --nav-color: #FFEECE;
    --text-color: #000000;
    --button-color: #ED553B;
    --button-color-done: #BABABA;
    --text-color-done: #232222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'inter', sans-serif;
    color: var(--text-color);
}

body>main {
    padding-top: 1.5rem 0 0 0;
}

#navbar {
    background-color: var(--nav-color);
    padding: 1rem;
    height: 10rem;
    margin-bottom: 0;
}

#navbar nav {
    display: flex;
    justify-content: center;
}

/* LOGIN */
#login,
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login button,
#login a {
    background-color: var(--button-color);
    border: none;
    width: 16rem;
}

#login h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

#login p {
    margin-bottom: 3rem;
}

#welcome p {
    margin: 0 1rem 3rem 1rem;
    text-align: center;
}

#login li {
    list-style-type: none;
    color: var(--button-color)
}