{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Créez votre E-stoire</h1>
	<h2 class="title">Formulaire de création d'histoire</h2>

	<p>Nous vous invitons à créer votre histoire sur cette page!</p>
	<p>Il est recommandé d'avoir une idée de votre projet avant de démarrer celui-ci.</p>
	<div>
		<label for="picture"></label>
		<input placeholder="+" type="picture" id="picture" name="picture" accept="image/png, image/jpeg, image/jpg, image/gif">
		<img src="">
	</div>
	{% include 'Story/_form.html.twig' %}
{% endblock %}
