{% extends 'layout.html.twig' %}

{% block content %}
	<main>
		<div id="textContribute">
			<h1>Contribuer à une e-stoire</h1>
		</div>
		<div id="list_stories">
			{% for story in stories %}
				{% if story.ended == 0 %}
					{% include 'Story/_story.html.twig' %}
				{% endif %}
			{% endfor %}
		</div>
	</main>
{% endblock %}
