{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Modifiez une e-stoire
		{{ story.title }}</h1>
	{% include 'Story/_form.html.twig' %}
	<a href="/stories/show?id={{ story.id }}">Retour</a>
{% endblock %}
