{% extends 'layout.html.twig' %}

{% block content %}
<<<<<<< HEAD
	<h1>Modifiez une E-stoire
		{{ story.title }}</h1>
=======
	<h1>Edit story {{ story.title }}</h1>
>>>>>>> dev
	{% include 'Story/_form.html.twig' %}
	<a href="/stories/show?id={{ story.id }}">Retour</a>
{% endblock %}
