{% extends 'layout.html.twig' %}

{% block content %}
	<main>
		<div id="textContribute">
			<h1>Nos e-stoires</h1>
		</div>
		<div id="list_stories">
			{% for story in stories %}
				{% if story.ended %}
					{% include 'Story/_storyRead.html.twig' %}
				{% else %}
					{% include 'Story/_storyCollaborate.html.twig' %}
				{% endif %}
			{% endfor %}
		</div>
	</main>
{% endblock %}
