{% extends 'layout.html.twig' %}

{% block content %}
	<main>
		<div id="textContribute">
			<h1>Nos e-stoires</h1>
		</div>

		{% for story in stories %}
			{% if story.ended %}
				{% include 'Story/_storyFinish.html.twig' %}
			{% else %}
				{% include 'Story/_storyCollaborate.html.twig' %}
			{% endif %}
		{% endfor %}
	</main>
{% endblock %}
