{% extends 'layout.html.twig' %}

{% block content %}
	<h1>stories</h1>
	<ul>
		{% for story in stories %}
			<li>
				<a href="/stories/show?id={{ story.id }}">{{ story.title }}</a>
			</li>
		{% else %}
			<li>Nothing to display</li>
		{% endfor %}
	</ul>
	<a href="/stories/add">Ajouter</a>



{% endblock %}

	/*
        <h1>
            {{ story.title }}</h1>

        <p>
            {{ story.nbchapter }}</p>