{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Liste des histoires</h1>
	<ul>
		{% for story in stories %}
			<li>
				<a href="/stories/show?id={{ story.id }}">{{ story.title }}</a>
			</li>
		{% else %}
			<li>Rien à afficher</li>
		{% endfor %}
	</ul>
	<a href="/stories/add">Ajouter</a>
{% endblock %}
