{% extends 'layout.html.twig' %}

{% block content %}
	<h1>E-stoire
		{{ story.title }}</h1>
	<p>{{ story.title }}</p>
	<a href="/stories/edit?id={{ story.id }}">Modifier</a>
	<form action="/stories/delete" method="POST">
		<input type="hidden" name="id" value="{{ story.id }}">
		<button>Supprimer</button>
	</form>
	<a href="/stories">Retour</a>
{% endblock %}
