{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Story
		{{ story.title }}</h1>
	<p>{{ story.title }}</p>
	<a href="/stories/edit?id={{ story.id }}">Edit</a>
	{# <form action="/stories/delete" method="POST">
		<input type="hidden" name="id" value="{{ story.id }}">
		<button>Delete</button>
	</form>
	<a href="/stories">Back</a> #}





	


{% endblock %}
